@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dot {
    transition: transform 0.3s ease-in-out;
  }
  input:checked + div {
  background-color: #d97706; /* Tailwind yellow-600 */
}
}
